# Weather data prep

In [18]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [19]:
weather=pd.read_csv('AMPds2/Climate_HourlyWeather.tab',sep='\t', names=['Date/Time', 'Year', 'Month', 'Day', 'Time', 'Data Quality', 'Temp (C)',
       'Temp Flag', 'Dew Point Temp (C)', 'Dew Point Temp Flag', 'Rel Hum (%)',
       'Rel Hum Flag', 'Wind Dir (10s deg)', 'Wind Dir Flag',
       'Wind Spd (km/h)', 'Wind Spd Flag', 'Visibility (km)',
       'Visibility Flag', 'Stn Press (kPa)', 'Stn Press Flag', 'Hmdx',
       'Hmdx Flag', 'Wind Chill', 'Wind Chill Flag', 'Weather'])

Features:
* average temp & humidity in the previuos hours 1,3,6,12,24
* average temp in the previous days 1-6
* average weekly temp in the previous 5 weeks
  
Same for humidity

In [20]:
weather

,Date/Time,Year,Month,Day,Time,Data Quality,Temp (C),Temp Flag,Dew Point Temp (C),Dew Point Temp Flag,...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
0,2012-04-01 00:00,2012,4,1,00:00,NaN,4.3,NaN,2.3,NaN,...,NaN,12.9,NaN,99.88,NaN,NaN,NaN,NaN,NaN,Rain
1,2012-04-01 01:00,2012,4,1,01:00,NaN,4.4,NaN,2.2,NaN,...,NaN,8.0,NaN,99.94,NaN,NaN,NaN,NaN,NaN,Rain - Fog
2,2012-04-01 02:00,2012,4,1,02:00,NaN,3.8,NaN,1.6,NaN,...,NaN,6.4,NaN,100.00,NaN,NaN,NaN,NaN,NaN,Rain - Fog
3,2012-04-01 03:00,2012,4,1,03:00,NaN,2.8,NaN,0.7,NaN,...,NaN,8.0,NaN,100.10,NaN,NaN,NaN,NaN,NaN,Rain - Fog
4,2012-04-01 04:00,2012,4,1,04:00,NaN,2.4,NaN,0.4,NaN,...,NaN,9.7,NaN,100.23,NaN,NaN,NaN,NaN,NaN,Moderate Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2014-03-31 19:00,2014,3,31,19:00,**,8.6,NaN,6.1,NaN,...,NaN,48.3,NaN,100.79,NaN,NaN,NaN,NaN,NaN,Mainly Clear
17516,2014-03-31 20:00,2014,3,31,20:00,**,8.2,NaN,6.2,NaN,...,NaN,32.2,NaN,100.81,NaN,NaN,NaN,NaN,NaN,NaN
17517,2014-03-31 21:00,2014,3,31,21:00,**,7.0,NaN,6.1,NaN,...,NaN,32.2,NaN,100.81,NaN,NaN,NaN,NaN,NaN,NaN
17518,2014-03-31 22:00,2014,3,31,22:00,**,6.3,NaN,5.1,NaN,...,NaN,32.2,NaN,100.80,NaN,NaN,NaN,NaN,NaN,Clear
17519,2014-03-31 23:00,2014,3,31,23:00,**,8.1,NaN,4.5,NaN,...,NaN,32.2,NaN,100.81,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
weather=weather.rename(columns={'Year':'year',
                                'Month':'month', 
                                'Day':'day-of-month',
                                'Time':'hour',
                                'Temp (C)':'temp',
                                'Rel Hum (%)':'hum',
                               } )
weather['hour']=weather['hour'].apply(lambda x: x.split(':')[0].lstrip('0') )
weather.loc[weather['hour']=='','hour']='0'
weather['hour']=weather['hour'].astype(int)
cols=['year','month','day-of-month','hour','temp','hum']
weather=weather[cols]
weather

       year  month  day-of-month  hour  temp   hum
0      2012      4             1     0   4.3  87.0
1      2012      4             1     1   4.4  86.0
2      2012      4             1     2   3.8  86.0
3      2012      4             1     3   2.8  86.0
4      2012      4             1     4   2.4  87.0
...     ...    ...           ...   ...   ...   ...
17515  2014      3            31    19   8.6  84.0
17516  2014      3            31    20   8.2  87.0
17517  2014      3            31    21   7.0  94.0
17518  2014      3            31    22   6.3  92.0
17519  2014      3            31    23   8.1  78.0

[17520 rows x 6 columns]

#### Write a sample of weather data for hana

In [23]:
weather_hana=weather[weather['year']==2014 ]
#weather_hana=weather_hana[weather_hana['month']!=1 ]
#weather_hana=weather_hana[weather_hana['day-of-month']!=31 ]

weather_hana['year']=2023
weather_hana.to_csv('weather_hana.csv',index=False)

/var/folders/f1/1lnz19712k19y30ctg7zqxrr0000gn/T/ipykernel_78876/2458250557.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_hana['year']=2023

In [24]:
weather_hana

       year  month  day-of-month  hour  temp   hum
15360  2023      1             1     0   5.2  98.0
15361  2023      1             1     1   4.9  98.0
15362  2023      1             1     2   5.3  99.0
15363  2023      1             1     3   4.6  99.0
15364  2023      1             1     4   4.6  99.0
...     ...    ...           ...   ...   ...   ...
17515  2023      3            31    19   8.6  84.0
17516  2023      3            31    20   8.2  87.0
17517  2023      3            31    21   7.0  94.0
17518  2023      3            31    22   6.3  92.0
17519  2023      3            31    23   8.1  78.0

[2160 rows x 6 columns]

In [7]:
#weather_forecast=weather[weather['year']==2014 ]
#weather_forecast=weather_hana[weather_hana['month']==3 ]
#weather_forecast=weather_hana[weather_hana['day-of-month']==31 ]

#weather_forecast['year']=2023
#weather_forecast.to_csv('weather_forecast.csv',index=False)

### compute weather predictors

In [25]:
weather_predictors=[]
feat=['temp','hum']

for f in feat:

    for h in range(1,25):
        var_name=f+'-h-minus-'+str(h)
        weather[var_name]=weather[f].shift(h)

    for i in [3,6,12,24]:
        var_name=f+'-h-'+str(i)
        weather_predictors.append(var_name)        
        var_group=[f+'-h-minus-'+str(h) for h in range(1,i+1)]
        weather[var_name]=weather[var_group].mean(axis=1)
 
weather

,year,month,day-of-month,hour,temp,hum,temp-h-minus-1,temp-h-minus-2,temp-h-minus-3,temp-h-minus-4,...,hum-h-minus-19,hum-h-minus-20,hum-h-minus-21,hum-h-minus-22,hum-h-minus-23,hum-h-minus-24,hum-h-3,hum-h-6,hum-h-12,hum-h-24
0,2012,4,1,0,4.3,87.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012,4,1,1,4.4,86.0,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,87.000000,87.000000,87.000000,87.000000
2,2012,4,1,2,3.8,86.0,4.4,4.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,86.500000,86.500000,86.500000,86.500000
3,2012,4,1,3,2.8,86.0,3.8,4.4,4.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,86.333333,86.333333,86.333333,86.333333
4,2012,4,1,4,2.4,87.0,2.8,3.8,4.4,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,86.000000,86.250000,86.250000,86.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2014,3,31,19,8.6,84.0,9.4,9.8,10.2,10.5,...,87.0,88.0,80.0,80.0,81.0,72.0,78.000000,77.166667,77.416667,80.958333
17516,2014,3,31,20,8.2,87.0,8.6,9.4,9.8,10.2,...,87.0,87.0,88.0,80.0,80.0,81.0,79.333333,78.500000,77.166667,81.458333
17517,2014,3,31,21,7.0,94.0,8.2,8.6,9.4,9.8,...,87.0,87.0,87.0,88.0,80.0,80.0,82.666667,80.166667,78.416667,81.708333
17518,2014,3,31,22,6.3,92.0,7.0,8.2,8.6,9.4,...,82.0,87.0,87.0,87.0,88.0,80.0,88.333333,83.166667,79.916667,82.291667
17519,2014,3,31,23,8.1,78.0,6.3,7.0,8.2,8.6,...,88.0,82.0,87.0,87.0,87.0,88.0,91.000000,85.166667,81.083333,82.791667

In [26]:
weather_predictors

['temp-h-3',
 'temp-h-6',
 'temp-h-12',
 'temp-h-24',
 'hum-h-3',
 'hum-h-6',
 'hum-h-12',
 'hum-h-24']

In [27]:
for f in feat:
    for d in range(2,9):
        var_name=f+'-d-minus-'+str(d)
        weather_predictors.append(var_name)    
        weather[var_name]=weather[f].shift(d*24)
weather

,year,month,day-of-month,hour,temp,hum,temp-h-minus-1,temp-h-minus-2,temp-h-minus-3,temp-h-minus-4,...,temp-d-minus-6,temp-d-minus-7,temp-d-minus-8,hum-d-minus-2,hum-d-minus-3,hum-d-minus-4,hum-d-minus-5,hum-d-minus-6,hum-d-minus-7,hum-d-minus-8
0,2012,4,1,0,4.3,87.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012,4,1,1,4.4,86.0,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012,4,1,2,3.8,86.0,4.4,4.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,4,1,3,2.8,86.0,3.8,4.4,4.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012,4,1,4,2.4,87.0,2.8,3.8,4.4,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2014,3,31,19,8.6,84.0,9.4,9.8,10.2,10.5,...,9.4,8.5,6.1,87.0,91.0,75.0,76.0,87.0,75.0,77.0
17516,2014,3,31,20,8.2,87.0,8.6,9.4,9.8,10.2,...,9.4,8.5,6.4,90.0,90.0,74.0,90.0,88.0,71.0,75.0
17517,2014,3,31,21,7.0,94.0,8.2,8.6,9.4,9.8,...,9.0,8.6,6.5,91.0,93.0,83.0,88.0,90.0,81.0,72.0
17518,2014,3,31,22,6.3,92.0,7.0,8.2,8.6,9.4,...,8.6,9.6,6.3,91.0,92.0,88.0,91.0,90.0,67.0,74.0
17519,2014,3,31,23,8.1,78.0,6.3,7.0,8.2,8.6,...,7.6,9.5,5.6,88.0,95.0,87.0,91.0,92.0,71.0,82.0

In [28]:
weather_predictors

['temp-h-3',
 'temp-h-6',
 'temp-h-12',
 'temp-h-24',
 'hum-h-3',
 'hum-h-6',
 'hum-h-12',
 'hum-h-24',
 'temp-d-minus-2',
 'temp-d-minus-3',
 'temp-d-minus-4',
 'temp-d-minus-5',
 'temp-d-minus-6',
 'temp-d-minus-7',
 'temp-d-minus-8',
 'hum-d-minus-2',
 'hum-d-minus-3',
 'hum-d-minus-4',
 'hum-d-minus-5',
 'hum-d-minus-6',
 'hum-d-minus-7',
 'hum-d-minus-8']

In [29]:
for f in feat:
    
    var_name1='avg_'+f+'-w1'
    weather_predictors.append(var_name1)
    var_group=[ c for c in weather.columns if f in c and '-d-minus-' in c]
    weather[var_name1]=weather[var_group].mean(axis=1)
    
    for w in range (2,5):
        var_name='avg_'+f+'-w'+str(w)
        weather_predictors.append(var_name)
        weather[var_name]=weather[var_name1].shift(w)

weather

,year,month,day-of-month,hour,temp,hum,temp-h-minus-1,temp-h-minus-2,temp-h-minus-3,temp-h-minus-4,...,hum-d-minus-7,hum-d-minus-8,avg_temp-w1,avg_temp-w2,avg_temp-w3,avg_temp-w4,avg_hum-w1,avg_hum-w2,avg_hum-w3,avg_hum-w4
0,2012,4,1,0,4.3,87.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012,4,1,1,4.4,86.0,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012,4,1,2,3.8,86.0,4.4,4.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,4,1,3,2.8,86.0,3.8,4.4,4.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012,4,1,4,2.4,87.0,2.8,3.8,4.4,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2014,3,31,19,8.6,84.0,9.4,9.8,10.2,10.5,...,75.0,77.0,8.657143,9.542857,9.585714,9.614286,81.142857,77.142857,78.285714,77.857143
17516,2014,3,31,20,8.2,87.0,8.6,9.4,9.8,10.2,...,71.0,75.0,8.328571,9.014286,9.542857,9.585714,82.571429,81.000000,77.142857,78.285714
17517,2014,3,31,21,7.0,94.0,8.2,8.6,9.4,9.8,...,81.0,72.0,8.171429,8.657143,9.014286,9.542857,85.428571,81.142857,81.000000,77.142857
17518,2014,3,31,22,6.3,92.0,7.0,8.2,8.6,9.4,...,67.0,74.0,8.200000,8.328571,8.657143,9.014286,84.714286,82.571429,81.142857,81.000000
17519,2014,3,31,23,8.1,78.0,6.3,7.0,8.2,8.6,...,71.0,82.0,7.857143,8.171429,8.328571,8.657143,86.571429,85.428571,82.571429,81.142857

In [30]:
weather_predictors

['temp-h-3',
 'temp-h-6',
 'temp-h-12',
 'temp-h-24',
 'hum-h-3',
 'hum-h-6',
 'hum-h-12',
 'hum-h-24',
 'temp-d-minus-2',
 'temp-d-minus-3',
 'temp-d-minus-4',
 'temp-d-minus-5',
 'temp-d-minus-6',
 'temp-d-minus-7',
 'temp-d-minus-8',
 'hum-d-minus-2',
 'hum-d-minus-3',
 'hum-d-minus-4',
 'hum-d-minus-5',
 'hum-d-minus-6',
 'hum-d-minus-7',
 'hum-d-minus-8',
 'avg_temp-w1',
 'avg_temp-w2',
 'avg_temp-w3',
 'avg_temp-w4',
 'avg_hum-w1',
 'avg_hum-w2',
 'avg_hum-w3',
 'avg_hum-w4']

In [31]:
weather=weather[['year','month','day-of-month','hour']+weather_predictors]

In [34]:
weather_message=weather[weather_predictors].tail(1) 
weather_message.to_csv('weather_message.csv',index=False, header=False)
weather_message

,temp-h-3,temp-h-6,temp-h-12,temp-h-24,hum-h-3,hum-h-6,hum-h-12,hum-h-24,temp-d-minus-2,temp-d-minus-3,...,hum-d-minus-7,hum-d-minus-8,avg_temp-w1,avg_temp-w2,avg_temp-w3,avg_temp-w4,avg_hum-w1,avg_hum-w2,avg_hum-w3,avg_hum-w4
17519,7.166667,8.216667,9.075,7.2125,91.0,85.166667,81.083333,82.791667,7.9,7.8,...,71.0,82.0,7.857143,8.171429,8.328571,8.657143,86.571429,85.428571,82.571429,81.142857

In [17]:
weather.to_csv('weather.csv',index=False)